<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U-100/T-140</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/w3.js"></script>
  </head>
  <body>
    <!-- <div class="header">
      <a href="/" class="header-logo">LIST APP⤴</a>
    </div> -->
    <main class="main">
      <div class="Index__container">
        <div class="container-header">
          <h1>Participation</h1>
          <ul class="nav-list">
            <li class="nav-list-item">
              <a href="/match" class="newMatch">予選リーグ⤴</a>
            </li>
            <li class="nav-list-item">
              <a href="/midway" class="newMidway">中間リーグ⤴</a>
            </li>
            <li class="nav-list-item">
              <a href="/new" class="newTeam">+ チーム追加</a>
            </li>
        </div>
        <div class="index-table-wrapper">
          <div class="table-head">
            <div class="id-column">ID</div>
            <div class="name-column">name</div>
            <div class="point-column">P</div>
            <div class="score-column">S</div>
            <div class="court-column">コート</div>
            <div class="point-column">P</div>
            <div class="score-column">S</div>
            <div class="court-column">コート</div>
            <div class="SumPoint">総合P</div>
            <div class="SumPoint">総合S</div>
            <div class="rank-column"></div>
          </div>
          <ul class="table-body">
            <% items.forEach((team) => { %>
              <li>
                <div class="item-data">
                  <div class="flex-left">
                    <div class="id-column"><%= team.id %></div>
                    <div class="name-column"><%= team.name %></div>
                  </div>
                  <div class="flex-right">
                    <div class="point-column -pre"><%= team.pre_point %></div>
                    <div class="score-column -pre"><%= team.pre_score %></div>
                    <div class="court-column -pre"><%= team.court + "-" + team.number %></div>
                    <div class="item-menu">
                      <a href="/edit/<%= team.id %>">編集</a>
                    </div>
                    <div class="point-column -mid"><%= team.mid_point %></div>
                    <div class="score-column -mid"><%= team.mid_score %></div>
                    <div class="court-column -mid"><%= team.mid_court + "-" + team.mid_number %></div>
                    <div class="item-menu">
                      <a href="/edit2/<%= team.id %>">編集</a>
                    </div>
                    <div class="point-column -pre"><%= team.sum_point %></div>
                    <div class="score-column -pre"><%= team.sum_score %></div>
                    <div class="item-menu">
                      <form action="/delete/<%= team.id %>" method="post">
                        <input type="submit" value="削除">
                      </form>
                    </div>
                  </div>
                </div>
              </li>
            <% }) %> 
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
